.pixi-canvas-top {
  border: 5px solid red;
  background: rgba(255,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 0;
}
.control-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #9c8de0;
  z-index: 2;
}